.contenedorListas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  
}

.pendientes, .completadas {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background: #f0f2f5;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  color: #212121;
}

.pendientes h3, .completadas h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}

.filaTarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 0.7rem 1rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  transition: background 0.3s ease;
}

.filaTarea:hover {
  background: #eeeeee;
}

.filaTarea span {
  flex: 1;
  margin: 0 0.8rem;
  font-size: 17px;
  color: #333;
}

.botonEditar,
.botonEliminar {
  border: none;
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  color: white; 
}

.botonEditar {
  background-color:darkturquoise;
}

.botonEditar:hover {
  background-color: turquoise;
}

.botonEliminar {
  background-color:lightcoral 
}

.botonEliminar:hover {
  background-color: #d32f2f;
}
