.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background: #ffdac1;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  Width: 100%;
  
}

.Logo {
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}

.NombreApp {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: brown;
}
